 body {
      margin: 0;
       
      background: #e3edf7;
    }

    .navbar {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 50px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

     .logo {
      font-size: 24px;
      font-weight: bold;
    }

    .logo span {
      color: green;
    }

    .nav-links {
      display: flex;
      gap: 30px;
       
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-size: 18px;
       
    }

    .nav-links a:hover {
      color: #007BFF;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 21px;
      left: 0;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 220px;
    }

    .dropdown-content a {
      
      padding: 10px 15px;
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid #ddd;
    }

    .dropdown-content a:hover {
      background-color: #f2f2f2;
    }

    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: column;
    }