 body {
      margin: 0;
      font-family: sans-serif;
    }

    .container {
      display: grid;
      grid-template-areas:
        "header header header header"
        "advertise-left main-content sidebar advertise-right"
        "advertise-left twin-left twin-right advertise-right"
        "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto 200px 150px auto;
      gap: 10px;
      padding: 10px;
      height: 100vh;
    }

    .header {
      grid-area: header;
      background-color: #3399FF;
      padding: 20px;
      color: white;
      text-align: center;
    }

    .advertise-left {
      grid-area: advertise-left;
      background-color: #FFCC33;
      padding: 20px;
      text-align: center;
    }

    .advertise-right {
      grid-area: advertise-right;
      background-color: #FFCC33;
      padding: 20px;
      text-align: center;
    }

    .main-content {
      grid-area: main-content;
      background-color: #66CC66;
      padding: 20px;
      text-align: center;
       
       
      
    }

    .sidebar {
      grid-area: sidebar;
      background-color: #CC66CC;
      padding: 20px;
      text-align: center;
    }

    .twin-left {
      grid-area: twin-left;
      background-color: #FF9933;
      padding: 20px;
      text-align: center;
    }

    .twin-right {
      grid-area: twin-right;
      background-color: #FF9933;
      padding: 20px;
      text-align: center;
    }

    .footer {
      grid-area: footer;
      background-color: #0066CC;
      padding: 20px;
      color: white;
      text-align: center;
    }